<a href="https://colab.research.google.com/github/debstuti/computerVision/blob/main/LeNet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
## This is a LeNet inspired model

In [14]:
import tensorflow as tf
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Dense, Flatten, Dropout
from tensorflow.keras.models import Sequential

In [15]:
n_classes = 10

In [16]:
model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3), activation='relu', input_shape=(28, 28, 1)))
model.add(Conv2D(64, 3, activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.5))
model.add(Flatten())

In [17]:
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))

In [18]:
model.add(Dense(n_classes, activation='softmax'))

In [19]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_4 (Conv2D)           (None, 26, 26, 32)        320

 conv2d_5 (Conv2D)           (None, 24, 24, 64)        18496

 max_pooling2d_2 (MaxPooling  (None, 12, 12, 64)       0
 2D)

 dropout_2 (Dropout)         (None, 12, 12, 64)        0

 flatten_1 (Flatten)         (None, 9216)              0

 dense_2 (Dense)             (None, 128)               1179776

 dropout_3 (Dropout)         (None, 128)               0

 dense_3 (Dense)             (None, 10)                1290

=================================================================
Total params: 1,199,882
Trainable params: 1,199,882
Non-trainable params: 0
_________________________________________________________________